# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Ignore IDE settings
.vscode/
*.code-workspace

# OS-specific
.DS_Store
Thumbs.db

# Temporary files
tempCodeRunnerFile*


# .git/
